* {
    margin: 0;
    padding: 0; 
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}


/* Wrappers */

header {
    background: darkcyan;
}

#main-wrapper {
    background: lightseagreen;
}

#article-wrapper {
    background: mediumaquamarine;
}

#characters-wrapper {
    background-color: aquamarine;
}

footer {
    background: darkcyan;
    height: 100px;
}


/* ---- Page Content ---- */ 


/* navbar content */ 

.nav-logo {
    height: 50px;
    width: 60px;
}


/* main content */ 

.main-link {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: pink;
}

a:active {
    color: blue;
}


/* main content */ 


.link-box{
    height: 50px;
    min-width: 35%;
    max-width: 40%;
    border: 2px solid lightslategray;
    background: lightgray;
    text-align: center;
}

/* articles */ 

.article {
    height: 200px;
    width: 90%;
    border: 2px solid black;
    background: lightgray;
    text-align: center;
}

/* character cards */ 

.card {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 50%;
    background: lightgray;
}
